---
import { Image } from "astro:assets";

type Props = {
  title: string;
  description: string;
  products: {
    image: {
      src: string;
      alt: string;
    };
    title: string;
    price: string;
  }[];
};
const { title, description, products } = Astro.props;
---

<section>
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
    <header>
      <h2 class="text-xl font-bold text-gray-900 sm:text-3xl">{title}</h2>

      <p class="mt-4 max-w-md text-gray-500">
        {description}
      </p>
    </header>

    <ul class="mt-8 grid gap-4 sm:grid-cols-2 lg:grid-cols-4">
      {
        products.map(
          ({
            image,
            title,
            price,
          }: {
            image: { src: string; alt: string };
            title: string;
            price: string;
          }) => {
            <li>
              <a href="#" class="group block overflow-hidden">
                <Image
                  src={image.src}
                  alt={image.alt}
                  width={300}
                  height={350}
                  class="h-[350px] w-full object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]"
                />

                <div class="relative bg-white pt-3">
                  <h3 class="text-xs text-gray-700 group-hover:underline group-hover:underline-offset-4">
                    {title}
                  </h3>

                  <p class="mt-2">
                    <span class="sr-only"> Regular Price </span>

                    <span class="tracking-wider text-gray-900">{price}</span>
                  </p>
                </div>
              </a>
            </li>;
          }
        )
      }
    </ul>
  </div>
</section>
